.body{
  background-color: #f6f6f6;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: column nowrap;

}
.item{
  border: 1px solid #000;
  /*height: 200px;
  width: 200px;*/
  background-color: #ffccff;
  /*  flex-grow: 1;
    flex-basis: 200px;*/
}
.item1{
flex-grow: 1;
flex-shrink:1;
/*flex-basis: 50px;*/
min-height: 50px;
}
.item2{
flex-grow: 10;
flex-basis: 400px;
flex-shrink:4;
}
.item3{
  flex-grow: 1;
  min-height: 50px;
  /*flex-basis: 50px;*/

  flex-shrink:1;
}
