/**********FOOTER************/
.footer{
  background-color:#414141;
  width: 100vw;
  height: 50px;
  padding: 8px 130px;
  box-sizing: border-box;

}
.footer--flexbox{
  display: flex;
  /**/
  /*flex-wrap: wrap;
  */

  align-items: center;
      /**/
  justify-content: space-between;

}
.confidentiality__link{
  color: #9c9c9c;
  text-decoration: none;
  font: 14px 'Fira Sans';
  font-weight: 300;
}
.confidentiality__link::before{
  content: '\00A9';
}
.social{
  width: 100px;
  height: 30px;
}
.social--flexbox{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social__fb{
    color: #4c4c4c;
    background-color:#9c9c9c;
    background: url('../img/social__fb.png');
    width: 30px;
    height: 30px;
}
.social__vk{
  color: #4c4c4c;
  background-color:#9c9c9c;
  background: url('../img/social__vk.png');
  width: 30px;
  height: 30px;
}
.social__tw{
  color: #4c4c4c;
  background-color:#9c9c9c;
  background: url('../img/social__tw.png');
  width: 30px;
  height: 30px;
}
.social__fb:hover{
    background: url('../img/social__fb--hover.png');
}
.social__vk:hover{
    background: url('../img/social__vk--hover.png');
}
.social__tw:hover{
    background: url('../img/social__tw--hover.png');
}
