/**************HEADER*************/

.pesron{
  background-color: #000;
  max-width: 400px;
}
.person__image{
  height: 60px;
  width: 60px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}
.person__name{
  padding: 0 18px;
  font: 18px 'Fira Sans';
  color: #414141;
}
.contacts{
  position: relative;

}

.contacts__button{
  border: none;
  padding: 5px 0;
  background:url('../img/button__border.png') left bottom repeat-x;
  font: 18px 'Fira Sans';
  font-weight: bold;
  color: #33c1e3;
  background-color: #fff;
  cursor: pointer;
}
.contacts:hover  .contacts__button{
  color: #e85f61;
  background:url('../img/button__border--hover.png') left bottom repeat-x;
  background-color: #fff;
}
.contacts:hover  .contacts__field{

opacity: 1;
}
.contacts__field:hover{

  opacity: 1;
}
.contacts__field-item:hover .contacts__field{

  opacity: 1;
}

.contacts__field{
	width: 200px;
	height: 130px;
  background-color:#fff;
	position: absolute;
	top: 40px;
	right: 0px;
	padding: 10px 10px 5px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgba(221, 221, 221, 1), -1px 1px 1px rgba(221, 221, 221, 1), 1px -1px 1px rgba(221, 221, 221, 1), -1px -1px 1px rgba(221, 221, 221, 1) ;
  z-index: 1000;
  box-sizing: border-box;

  opacity: 0;

}
.contacts__field-triang{
  z-index: 1000;
}

.contacts__field-triang::before{

  position: absolute;
  top: 40px;
  text-align: center;

  width: 100%;
  content: '\f0d8';
  font-size: 20px;
  font-family: FontAwesome;
  color:#fff;
  padding-right:10px;
  left: 35px;
  top: -15px;
  text-shadow: 1px -1px 1px #dddddd, -1px -1px 1px #dddddd;

}

.contacts__field-item{
	font: 18px 'Fira Sans';
	font-weight: 400;
	padding: 0;
	background-color: #fff;
	line-height: 40px;
	  z-index: 999;
}
.contacts--phone::before{
  content: '\f095';
  font-size: 18px;
  font-family: FontAwesome;
  color:#33bfe2;
  padding-right: 8px;
  text-decoration: none;
}
.contacts--email::before{
  content: '\f0e0';
  font-size: 18px;
  font-family: FontAwesome;
  color:#33bfe2;
  padding-right: 8px;
  text-decoration: none;
}
.contacts--skype::before{
  content: '\f17e';
  font-size: 18px;
  font-family: FontAwesome;
  color:#33bfe2;
  padding-right: 8px;

}
.contacts--email{
    text-decoration: none;
    font-size: 18px;
    color: #414141;
    font: 18px 'Fira Sans';

}
.contacts--phone{
    text-decoration: none;
    font-size: 18px;
    color: #414141;
    font: 18px 'Fira Sans';

}
.contacts--skype{
    text-decoration: none;
    font-size: 18px;
    color: #414141;
    font: 18px 'Fira Sans';
}
