
  .wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    min-height: 700px;
    background-color: #f6f6f6;

  }
.userform{
  width:300px;
  min-height: 200px;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -116px 0 0 -150px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3), 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.userform__body{
  width:300px;

  height: auto;
  display: block;
}

.userform__image-box{
  height: 75px;
  width: 300px;
}
.userform__image{
  border: 1px solid #bebebe;
  border-radius: 50%;
  height: 138px;
  width: 138px;
  position: absolute;
  margin-top: -69px;
  left: 81px;

}
.userform__title-box{
  height: auto;
  width: 260px;
  display: block;
  padding: 20px;
  text-align: center;
  vertical-align: bottom;

}
.userform__title{
  min-height: 83px;
  color: #414141;
  font-size:21px;
  font-family: 'Open Sans', arial;
  font-weight: 600;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #0f0;
}

.userform__footer{
  display: block;
  width:134px;
  min-height: 36px;
  height: auto;
  background-color: #33c1e3;
  border-radius: 0 0 10px 10px;
   padding: 21px 83px;
}


.userform__button{
  height: 36px;
  width: 134px;
  background-color: #33c1e3;
  border: 2px solid #fff;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  font-family: Fira Sans;
  color: #fff;
  cursor: pointer;
}
.userform__button:hover{
  background-color: #fff;
  color: #33c1e3;
}
