
/************MAIN************/


.sidebar{
    /**/background-color: #dee;
  padding: 5px 20px;
  box-sizing: content-box;
  width: calc (25% - 50px);
}


.menu{
  color: #414141;
  text-decoration: none;
  font: 18px 'Fira Sans';
  font-weight: normal;
  text-align: right;
  list-style-type:none;
  text-decoration: none;
  background-color: #ccd;
  /*padding-right: 30px;*/
  margin:0;


}
.menu__item{
  line-height: 46px;
  vertical-align: middle;
  color: #414141;
  cursor: pointer;
}

.menu__item--activ{
background: url('../img/menu__item--active.png');
background-repeat: no-repeat;
background-position: right;
color:#33c2e4;
}
.menu__item:hover{
  color: #33c1e3;
}


.menu__about{
  text-decoration: none;
  color: inherit;
  padding-right: 24px;

}
.menu__career{
  text-decoration: none;
  color: inherit;
  padding-right: 24px;

}
.menu__portfolio{
  text-decoration: none;
  color: inherit;
  padding-right: 24px;
}
.menu__about::before{
  content: "\f21b";
	font-family: FontAwesome;
	color:inherit;
	padding-right:10px
}
.menu__career::before{
  content: "\f135";
	font-family: FontAwesome;
	color:inherit;
	padding-right:10px
}
.menu__portfolio::before{
  content: "\f0b1";
	font-family: FontAwesome;
	color:inherit;
	padding-right:10px
}







/************************************************/


.about_photo{
    background-color: #ede;
    padding: 5px 20px;

}
.about_photo__img{
  width: 220px;
  height: 220px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.about_article{
  padding: 5px 20px;
  background-color: #ede;
  border: 1px solid #0f0;
  width: 250px;


}

.about_article--flexbox{
  display: flex;
  flex-grow: 5;
  flex-basis: 250px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.about_article__text-zone{

  max-height:250px;
  width: 100%;
  font: 18px 'Fira Sans';
  color: #646464;
  overflow-y: auto;
  padding-right: 30px;
  box-sizing: border-box;
  background-color:#cdc;
/*  border: 1px solid #000;*/

}
.about_article__header{
  margin: 0;
}
.about_article__button-zone{
  height: 160px;
  width: 100%;
  border: 1px solid #000;/**/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
  box-sizing: border-box;
}
.about_article__button{
color: #e85f61;
width: 170px;
border: 2px solid #e85f61;
border-radius: 17px;
padding: 6px 14px;
text-align: center;
box-sizing: border-box;
cursor: pointer;
}
.about_article__button-text{
  color:inherit;
  font: bold 14px 'Open Sans';
}
.about_article__button-text::before{

  content: "\f019";
  font-family: FontAwesome;
  color:inherit;
  padding-right:10px
}
.about_article__button:hover{
color: #fff;
background-color: #e85f61;
width: 170px;
border: 2px solid #e85f61;

}
