.body{
  background-color: #f6f6f6;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  min-height: 300px;

}
.body--flexbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.header{
  min-height: 50px;
  width: 100%;
  height: 79px;
  top: 0;
  left: 0;
  background-color:#ffffff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header--flexbox{
  height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main{
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -ms-flex-negative:4;
      flex-shrink:4;
  padding-top: 90px;
}

.main--flexbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.footer{
      background-color:#414141;
      height: 50px;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px;
      -ms-flex-negative:1;
          flex-shrink:1;
}

.footer--flexbox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
