.about_photo{
  margin: 0 20px;
    padding: 11px 0 0 32px;
    flex-basis: 239px;
  //  background-color: #ccf;

    &__img{
      width: 220px;
      height: 220px;
      border: 5px solid #fff;
      border-radius: 50%;
    }

}
.career_photo{
      padding: 7px 0 0 20px;
      //background-color: #cfc;
      flex-basis: 237px;
      overflow: visible;
      width: 180px;

      &__img-block{
        width: 220px;
        height: 220px;
        border: 1px solid transparent;
        border-radius: 9px;
        overflow: hidden;
      }

      &__img{
        margin: -6px 0 0 -92px;
      }

      &__h{
        font: 35px $font-family;
        font-weight: 500;
        color: $color2-d_gray;
        min-width: 230px;
        margin: 1px 0 25px 0px;
        padding: 0px;
        overflow: visible;
      }
}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
 .about_photo{
   margin: 0 0px;
   padding: 0px 0 0 0px;
   flex-basis: 214px;
   //  background-color: #ccf;

     &__img{
       width: 165px;
       height: 165px;
       border: 5px solid #fff;
       border-radius: 50%;
       margin: 18px 17px;
     }

 }
 .career_photo{
       padding:  22px 0 0 0px;
       //background-color: #cfc;
       flex-basis: 237px;
       overflow: visible;
       width: 237px;

       &__img-block{
         width: 228px;
         height: 228px;
         border: 1px solid transparent;
         border-radius: 9px;
         overflow: hidden;
       }

       &__img{
          margin: -3px 0 0 -92px;
       }

       &__h{
         font: 35px $font-family;
         font-weight: 500;
         color: $color2-d_gray;
         min-width: 230px;
         margin: 1px 0 25px 0px;
         padding: 0px;
         overflow: visible;
       }
 }
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
 .about_photo{

     padding: 12px 0 0 0px;
     flex-basis: 150px;
   //  background-color: #ccf;

     &__img{
       width: 140px;
       height: 140px;
       border: 5px solid #fff;
       border-radius: 50%;
     }

 }


 .career_photo{
       padding: 0px 0 0 0px;
       //background-color: #cfc;
       flex-basis: 237px;
       overflow: visible;
       width: 100%;

       &__img-block{
         width: 220px;
         height: 219px;
         border: 1px solid transparent;
         border-radius: 9px;
         overflow: hidden;
         margin: 0 0 0 22px;
       }

       &__img{
         margin: -8px 0 0 -93px;
       }

       &__h{
         font: 35px $font-family;
         font-weight: 500;
         color: $color2-d_gray;

         min-width: 230px;
         margin: 12px 0 12px -4px;
         padding: 0px;
         overflow: visible;
       }
 }



}
