.contacts{
  position: relative;
  float: right;

    &__button{
        border: none;
        padding: 0px 0;
        font: $font-size $font-family;
        font-weight: bold;
        color: $color4-blue;
        background-color: #fff;
        cursor: pointer;
        overflow: hidden;
        width: 121px;


        &::after{
          content:" ........................";
          letter-spacing: 3px; /* Use letter-spacing to increase space between dots*/
          margin-top: 0;
          color: inherit;
          font-weight: 400;
          font-size: 10px;
          line-height: 5px;
          margin-top: -10px;
          position: absolute;
          top: 29px;
          left: -3px;

        }
    }



    &__field{
      width: 373px;
      height: 240px;
      background-color:#fff;
      position: absolute;
      top: 40px;
      right: 0px;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 1px 1px 1px rgba(221, 221, 221, 1), -1px 1px 1px rgba(221, 221, 221, 1), 1px -1px 1px rgba(221, 221, 221, 1), -1px -1px 1px rgba(221, 221, 221, 1) ;
      z-index: 9;
      box-sizing: border-box;
      display: none;

          &-triang{
                  z-index: 100;

              &:before{
                position: absolute;
                top: 40px;
                text-align: center;
                width: 145%;
                content: '\f0d8';
                font-size: 20px;
                font-family: FontAwesome;
                color:#fff;
                padding-right:10px;
                left: 95px;
                top: -15px;
                text-shadow: 1px -1px 1px #dddddd, -1px -1px 1px #dddddd;

              }
          }

          &-item{
            font: $font-size $font-family;
            font-weight: 400;
            padding: 15px;
            background-color: #fff;
            line-height: 40px;
          }
    }


    &--email{
        text-decoration: none;
        font-size: $font-size;
        color: #414141;
        font: 30px 'Fira Sans';

        &:before{
          content: '\f0e0';
          font-size: 30px;
          font-family: FontAwesome;
          color:#33bfe2;
          padding-right: 8px;
          text-decoration: none;
        }

    }
    &--phone{
        text-decoration: none;
        font-size: $font-size;
        color: #414141;
        font: 30px 'Fira Sans';

        &:before{
          content: '\f095';
          font-size: 30px;
          font-family: FontAwesome;
          color:#33bfe2;
          padding-right: 8px;
          text-decoration: none;
        }

    }
    &--skype{
        text-decoration: none;
        font-size: $font-size;
        color: #414141;
        font: 30px 'Fira Sans';

        &:before{
          content: '\f17e';
          font-size: 30px;
          font-family: FontAwesome;
          color:#33bfe2;
          padding-right: 8px;

        }
    }
}

.contacts:hover  .contacts__button{
  color: #e85f61;
  //background:url('../img/button__border--hover.png') left bottom repeat-x;
  background-color: #fff;
  transition: 0.5s;
}
.contacts:hover  .contacts__field{
  display: block;
  transition: 0.5s;
}
.contacts__field:hover{
    display: block;
    transition: 0.5s;
}
.contacts__field-item:hover .contacts__field{
  display: block;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
     .contacts{
       position: relative;
       float: right;

         &__button{
             border: none;
             padding: 0px 0;
             font: 0 $font-family;
             font-weight: bold;
             color: $color4-blue;
             background-color: #fff;
             cursor: pointer;
             overflow: hidden;
             width: 60px;


             &::after{
               content: '\f095';
               font-size: 50px;
               font-family: FontAwesome;
               color:#33bfe2;
               position: absolute;
               top: 18px;
               right: -20px;

         }
     }
     &__field{
           &-triang{

               &:before{
                 left: 78px;
                 top: -15px;

               }
           }


   }
}
}
