.sidebar{
  padding: 11px 0px;
  margin: 0 20px 0 0;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  //background-color: #ccc;
  flex-basis: 220px;
}
.main{
          flex-grow: 10;
      flex-basis: 250px;
      flex-shrink:4;
  padding-top: 90px;

  &--flexbox{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
 .sidebar{
   //background-color: #ccc;
   flex-basis: 100%;
   padding: 0;
   margin: 0;
 }
}
