.sidebar{
  padding: 5px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.main{
          flex-grow: 10;
      flex-basis: 250px;
      flex-shrink:4;
  padding-top: 90px;

  &--flexbox{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }
}
