.header{
  height: 600px;
  width: 100%;
  //max-width: 1920px;
  //min-width: 1280px;
  background-color: #dcc;
  background: url(../img/1st-screen-1920x1080-dark.jpg) no-repeat;
  background-size:100%;
  background-position: right bottom;

  &--flexbox{
    @include flexbox(flex,column,stretch,flex-start,nowrap);

  }
  &__contacts{
      @include flexbox(flex,row,stretch,space-evenly,nowrap);
      background-color: #333333;
      color: #fff;
      font-size: 13px;
      font-weight: 300;
      height: 50px;

      &--phones{
        position: relative;
        &::before{
          position: absolute;
          content: url(../img/svg/phone.svg);
          top: -2px;
          left: -27px;

        }
      }
      &--callback{
        position: relative;
        &::before{
          position: absolute;
          content: url(../img/svg/callback.svg);
          top: -2px;
          left: -27px;
      }
    }
      &--address{
        position: relative;
        &::before{
          position: absolute;
          content: url(../img/svg/location.svg);
          top: -2px;
          left: -27px;
      }
    }
      &--recc-btn{
        position: relative;
        width: 231px;
        height: 100%;
        background-color: #4caf50;
        &::before{
          position: absolute;
          content: url(../img/svg/appointment-register.svg);
          top: -2px;
          left: -27px;
      }
  }
}
  &__wrapper{
    //border: 1px solid #fff;
    @include flexbox(flex,row,center,space-evenly,nowrap);
    width: 100%;
  }

}
