.header{
  //flex-basis: 600px;
  //height: 600px;
  width: 100%;
  min-height: 600px;
  //max-width: 1920px;
  //min-width: 1280px;
  background-color: #dcc;
  background: url(../img/1st-screen-1920x1080-dark.jpg) no-repeat;
  background-size: 126%;
  background-position: left 50% top -0.5%;
  padding: 0 0 124.9px 0;

  &--flexbox{
    @include flexbox(flex,column,center,flex-start,nowrap);

  }

  &__menu{
    width: 100%;
    //position: fixed;
    top: 0;
    z-index: 100;

    &--scroll{
      width: 100%;
      position: fixed;
      top: -142px;
      z-index: 100;

    }
  }
  &__contacts{
    //  @include flexbox(flex,row,stretch,space-evenly,nowrap);
      background-color: #333333;
      font-size: 12px;
      font-weight: 300;
      height: 50px;
      width: 100%;

      &--item{
        display: block;
        color: #fff;
        letter-spacing: 0.5px;
        //border: 1px solid #fff;
        position: relative;
        padding: 10px 0px 10px 30px;
        margin: 0 16px 0 0;
        transition: $animation-time;

        &:hover{
        transition: $animation-time;
        color: #008e70;
        }

      }
      &--phones{
        //position: relative;
        color: inherit;
        text-decoration: none;
        margin: 0 0 0 21px;
        letter-spacing: -0.2px;
        font-size: 13.5px;

        &::before{
          position: absolute;
          content: url(../img/SVG/phone.svg);
          top: 8px;
          left: 15px;

        }
      }
      &--callback{
        //position: relative;
        color: inherit;
        text-decoration: none;
        margin: 0px 0 0 22px;
        letter-spacing: -0.1px;
        font-size: 13.5px;

        &::before{
          position: absolute;
          content: url(../img/SVG/callback.svg);
          top: 8px;
          left: 15px;

      }
    }
      &--address{
        //position: relative;
        color: inherit;
        text-decoration: none;
        margin: 0 0 0 15px;
        letter-spacing: -0.2px;
        font-size: 13.5px;

        &::before{
          position: absolute;
          content: url(../img/SVG/location.svg);
          top: 8px;
          left: 16px;
      }
    }
      &--recc-btn{
        position: relative;
        cursor: pointer;
        width: 231px;
        height: 100%;
        background-color: #4caf50;
        align-self: flex-end;
        transition: $animation-time;
        overflow: hidden;
        margin: 0 0 0 104px;

      //  @include flexbox(flex,row,center,center,nowrap);


      }
      &--recc-a{
        position: absolute;
        color: #fff;
        text-decoration: none;
        top: 33%;
        margin: 1px 0 0 76px;
        letter-spacing: 0.7px;
        transition: $animation-time;

        &::before{
          position: absolute;
          content: url(../img/SVG/appointment-register.svg);
          top: -2px;
          left: -32px;

      }
    }

    &--recc-active{
      position: absolute;
      color: #fff;
      text-decoration: none;
      top: -105%;
      margin: 1px 0 0 76px;
      letter-spacing: 0.7px;
      transition: $animation-time;

      &::before{
        position: absolute;
        content: url(../img/SVG/appointment-register-active.svg);
        top: -2px;
        left: -31px;

    }
  }


  }

  &__wrapper{
    //border: 1px solid #fff;
    @include flexbox(flex,row,center,flex-start,nowrap);
    width: 1056px;
    height: 50px;
    margin: 0 auto;
  }

}
.header__contacts--recc-btn:hover{
  transition: $animation-time;
  background-color: #8cc63f;
}
.header__contacts--recc-btn:hover .header__contacts--recc-a{
    top: 105%;
    transition: $animation-time;
}
.header__contacts--recc-btn:hover .header__contacts--recc-active{
    top: 33%;
    transition: $animation-time;
}
