.about_article{
  margin: 0 0 0 20px;
  padding: 3px 0px;
  width: 379px;
  //background-color: #cfc;

      &--flexboox{
        display: flex;
        flex-grow: 5;
        flex-basis: 325px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
      }

      &__text-zone{
        /*background-color: #ccc;*/
        min-height:290px;
        max-height:20vh;
        width: 100%;
        min-width: 395px;
        font: $font-size $font-family;
        line-height: 26px;
        letter-spacing: 0px;
        color: #646464;
        overflow-y: auto;
        padding: 0 0px 2px 3px;
        z-index: 1;
        box-sizing: border-box;
        font-weight: 300;

      }
      &__text-zone-mobile{
        //background-color: #ccc;
        //min-height:290px;
        //max-height:20vh;
        width: 100%;
        //min-width: 395px;
        font: $font-size $font-family;
        line-height: 26px;
        letter-spacing: 0px;
        color: #646464;
        //overflow-y: auto;
        padding: 0 3px 2px 3px;
        z-index: 1;
        box-sizing: border-box;
        font-weight: 300;
        display: none;
      }

      &__header{
        margin-top: 5px;
        margin-bottom: 10px;
        font: 35px 'Fira Sans';
        color: $color2-d_gray;
        font-weight: 500;
        padding: 0 0 0 2px;
        letter-spacing: -0.1px;

      }
      &__button-zone{
        height: 101px;
        width: 101%;
        padding-right: 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
      }

      &__button{
        //color: $color5-red;
        width: 173px;
        margin-right: 0px;
        //border: 2px solid $color5-red;
        border-radius: 20px;
        padding: 7px 0 10px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;

        animation-name:resumeButtonBlinkUp;
        animation-timing-function:ease-in-out;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;


        &:hover{
          //color: #fff;
        //  background-color: #e85f61;
        //  width: 172px;
        //  border: 2px solid #e85f61;

          animation-name:resumeButtonBlink;
          animation-timing-function:ease-in-out;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
        }
      }

      &__button-text{
        color:inherit;
        font: 14px $font-open_sans;
        font-weight: 700;
        letter-spacing: 0px;

        &::before{
          content: "\f019";
          font-family: FontAwesome;
          font-size: 14px;
          color: inherit;
          padding-right: 9px;
        }
      }
}


.mCustomScrollBox {
  z-index: 2;
}
.mCSB_container{
  z-index: 3;
}

@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
  .about_article__text-zone{
    display: block;
  }
  .about_article__text-zone-mobile{
  display: none;
  }
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
 .about_article__text-zone{
   display: block;
 }
 .about_article__text-zone-mobile{
 display: none;
 }
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */

 .about_article{
   margin: 7px 0 0 0px;
   padding: 3px 0;
   width: 476px;;
   //background-color: #cfc;

       &--flexboox{
         display: flex;
         flex-grow: 5;
         flex-basis: 325px;
         justify-content: flex-start;
         align-items: flex-start;
         flex-wrap: nowrap;
         flex-direction: column;
       }

       &__text-zone{
         /*background-color: #ccc;*/
         min-height:290px;
         max-height:20vh;
         width: 100%;
         min-width: 395px;
         font: $font-size $font-family;
         line-height: 26px;
         letter-spacing: 0px;
         color: #646464;
         overflow-y: auto;
         padding: 0 0px 2px 3px;
         z-index: 1;
         box-sizing: border-box;
         font-weight: 300;
         display: none;

       }
       &__text-zone-mobile{
         width: 92%;
         font: $font-size $font-family;
         line-height: 26px;
         letter-spacing: 0px;
         color: #646464;
         //overflow-y: auto;
         padding: 6px 3px 2px 4px;
         z-index: 1;
         box-sizing: border-box;
         font-weight: 300;
         display: block;
       }

       &__header{
         margin-top: 5px;
         margin-bottom: 10px;
         font: 35px 'Fira Sans';
         color: $color2-d_gray;
         font-weight: 500;
         padding: 0 0 0 5px;
         letter-spacing: -0.1px;

       }
       &__button-zone{
         height: 149px;
         width: 101%;
         padding-right: 60px;
         box-sizing: border-box;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         flex-direction: row;
       }

       &__button{
         //color: $color5-red;
         width: 173px;
         margin-right: 0px;
         //border: 2px solid $color5-red;
         border-radius: 20px;
         padding: 7px 0 10px;
         text-align: center;
         box-sizing: border-box;
         cursor: pointer;

         animation-name:resumeButtonBlinkUp;
         animation-timing-function:ease-in-out;
         animation-duration: 0.3s;
         animation-fill-mode: forwards;


         &:hover{
           //color: #fff;
         //  background-color: #e85f61;
         //  width: 172px;
         //  border: 2px solid #e85f61;

           animation-name:resumeButtonBlink;
           animation-timing-function:ease-in-out;
           animation-duration: 0.3s;
           animation-fill-mode: forwards;
         }
       }

       &__button-text{
         color:inherit;
         font: 14px $font-open_sans;
         font-weight: 700;
         letter-spacing: 0px;

         &::before{
           content: "\f019";
           font-family: FontAwesome;
           font-size: 14px;
           color: inherit;
           padding-right: 9px;
         }
       }
 }
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */


 .about_article{
   margin: 0 0 0 0px;
   padding: 3px 0px;
   width: 100%;

   &__text-zone{
      display: none;
   }

   &__header{
      margin: -6px 0 10px -4px;
      font: 35px 'Fira Sans';
      color: $color2-d_gray;
      font-weight: 500;
      padding: 0 0 0 2px;
      letter-spacing: -0.1px;
      text-align: center;

         }
      &__text-zone-mobile{
           display: block;
           width: 100%;
           //background-color: #ccc;
           width: 100%;
           font: 16px $font-family;
           line-height: 24px;
           letter-spacing: 0px;
           color: #646464;
           padding: 0px 0px 0px 2px;
           margin-top: -6px;
           z-index: 1;
           box-sizing: border-box;
           font-weight: 300;

         }

         &__button-zone{
           height: 114px;
           width: 101%;
           padding-right: 0px;
           box-sizing: border-box;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: row;
         }
 }


}
