.person{
  max-width: 400px;

  &__image{
    height: 58px;
    width: 58px;
    border: 2px solid #bdbdbd;
    border-radius: 50%;
  }
  &__name{
    padding: 0px 18px 0 18px;
    font: $font-size $font-family;
    color: $color2-d_gray;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.1px;
  }
}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
 .person{
   max-width: 400px;

   &__image{
     height: 58px;
     width: 58px;
     border: 2px solid #bdbdbd;
     border-radius: 50%;
   }
   &__name{
     padding: 0px 18px 0 18px;
     font: $font-size $font-family;
     color: $color2-d_gray;
     line-height: 28px;
     font-weight: 400;
     letter-spacing: 0.1px;
   }
 }
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
 .person{
   max-width: 150px;

   &__name{
     padding: 0 18px;
     font: 15px $font-family;
     color: $color2-d_gray;
     line-height: 20px;
     letter-spacing: -0.6px;
     margin: -3px 0 0 0;
   }
 }

}
