.header__slider{
  position: relative;
  width: 83%;

  &-content{
    //height: 300px;
    width: 92%;
    margin: 0 auto;
    padding: 34px 1%;



    &::before{
      position: absolute;
      content: url(../img/svg/arrow-1st-screen-left.svg);
      left: 0%;
      width: 4%;
      height: 82%;
      padding: 5% 0% 0;

    }
    &::after{
      position: absolute;
      content: url(../img/svg/arrow-1st-screen-right.svg);
      right: 0%;
      top: 8%;
      width: 4%;
      height: 82%;
      padding: 5% 0% 0;
    }

  }
  &-item{
    width: 100%;
    height: 100%;
    @include flexbox(flex,column,flex-start,flex-start,nowrap);
  }
  &-header{
    font-size: 53px;
    line-height: 65px;
    color: #fff;
    margin: 26px 0 0px 0;
    letter-spacing: 8px;

  }
  &-span{
    color: #fff;
    margin: 36px 15px 51px;
    font-size: 18px;
    letter-spacing: 0.9px;
  }
  &-btn{
      color: #fff;
      border: 1px solid #fff;
      padding: 22px 36px;
      font-size: 12px;
      margin: 0 0 0 13px;
      letter-spacing: 0.8px;
      transition: $animation-time;

      &:hover{
        background-color:#4cb050;
        transition: $animation-time;
        border: 1px solid #4cb050;
      }
  }

  &-check{
    @include flexbox(flex,row,center,space-between,nowrap);
    width: 50px;
    margin: 18px 0 30px 55px;

  &Item{
    cursor: pointer;
    width: 10px;
    height: 10px;
    color: #fff;
    font-size: 12px;
    transition: $animation-time;
    z-index: 10;
      }

  }

}
