.menu{
  color: #414141;
  text-decoration: none;
  font: $font-size $font-family;
  font-weight: normal;
  text-align: right;
  list-style-type:none;
  text-decoration: none;
  margin:0;
  padding: 0;

      &__item{
        line-height: 44px;
        vertical-align: middle;
        color: #414141;
        cursor: pointer;
        padding-right: 29px;


        &:hover{
          font-weight: normal;
          color:#33c2e4;
          transition: 0.5s;

        }

        &--activ{
          background: url('../img/menu__item--active.png');
          background-repeat: no-repeat;
          background-position: right;
          color:$color4-blue;
          font-weight: bold !important;
        }


      }
      &__about{
            color: inherit;
            text-decoration: none;

            &::before{
              content: "\f21b";
              font-family: FontAwesome;
              color:inherit;
              padding-right:10px
            }
      }

      &__career{
          color: inherit;
          text-decoration: none;

            &::before{
              content: "\f135";
            	font-family: FontAwesome;
            	color:inherit;
            	padding-right:10px
            }


      }
      &__portfolio{
          color: inherit;
          text-decoration: none;

            &::before{
              content: "\f0b1";
              font-family: FontAwesome;
              color:inherit;
              padding-right:10px
            }


      }


}
