.menu{
  color: #414141;
  text-decoration: none;
  font: $font-size $font-family;
  font-weight: normal;
  text-align: right;
  list-style-type:none;
  text-decoration: none;
  margin:0;
  padding: 0;

      &__item{
        line-height: 44px;
        vertical-align: middle;
        //color: #414141;
        cursor: pointer;
        padding-right: 29px;
        animation-name: menuBlinkUp;
        animation-timing-function:ease-in-out;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;



        &:hover{
          font-weight: normal;
          //color:#33c2e4;
          //transition: 0.5s;
          animation-name: menuBlink;
          animation-timing-function:ease-in-out;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;

        }


        &--activ{
          line-height: 45px;
          vertical-align: middle;
          cursor: pointer;
          padding-right: 30px;
          background: url('../img/menu__item--active.png') !important;
          background-repeat: no-repeat !important;
          background-position: right !important;
          color:$color4-blue !important;
          font-weight: bold !important;
        }


      }
      &__about{
            color: inherit;
            text-decoration: none;

            &::before{
              content: "\f21b";
              font-family: FontAwesome;
              color:inherit;
              padding-right:9px
            }
      }

      &__career{
          color: inherit;
          text-decoration: none;

            &::before{
              content: "\f135";
            	font-family: FontAwesome;
            	color:inherit;
            	padding-right:8px
            }


      }
      &__portfolio{
          color: inherit;
          text-decoration: none;

            &::before{
              content: "\f0b1";
              font-family: FontAwesome;
              color:inherit;
              padding-right:10px
            }


      }


}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
 .menu{
   @include flexbox(flex, row, center, space-between, wrap);


       &__item{
          padding-right: 5px;

          &--activ{
                    background: transparent;

                    color:$color4-blue;
                    font-weight: bold !important;
                  }


       }
       &__about{
                   &::before{
                     content: "";
                     padding-right:1px
                   }
             }

       &__career{

                   &::before{
                     content: "";
                     padding-right:1px
                   }


             }
             &__portfolio{
                   &::before{
                     content: "";
                     padding-right:1px
                   }


             }
     }


}
