.body{
  background-color: #ffffff;
  width: 100%;
  max-width: 1920px;
  min-width: 1147px;
  //height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  overflow: auto;
  min-height: 300px;

  font-family: 'PT_Sans-Web-Regular',  sans-serif;


      &--flexbox{
          @include flexbox(flex,column,stretch,flex-start,nowrap);
          }
}
.wrapper{
  width:100%;
  margin: 0 auto;
  background-color: #f00;

}
.naver{
  width: 100%;
  position: fixed;
  bottom: 132px;
  left: -400px;
  z-index: 100;

  &__list{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: calc(50% - 65px);
    list-style: none;

    &--item{
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      color: #fff;
      border-radius: 5px;
      background: #31b0d5;
      border: 1px solid #269abc;
      display: inline-block;
      vertical-align: top;
      padding: 4px 17px;
      text-transform: capitalize;



      &-top{
        background: rgba(0, 0, 0, 0.3);
        transform: rotate(-180deg);
        transition: transform .01s;
        transform-origin: center center;
        cursor: pointer;

        &:after{

    //content: "\21D1";
    content: url(../img/svg/arrow-1st-screen-down.svg);


    cursor: pointer;
    color: #fff;
     text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
  }


      }
      &-bot{
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;

        &:after{
  //  content: "\21D3";
    content: url(../img/SVG/arrow-1st-screen-down.svg);

    cursor: pointer;
    color: #fff;
     text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
  }
      }
    }
  }
}
