
.userform{
  width:300px;
  height: 232px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);


  &--flexbox{
    @include flexbox(flex, column, center,
    center, nowrap);
  }
  &__body{
    width:100%;
    height: 156px;
  }
  &__footer{
    width:100%;
    height: 75px;
    padding: 0px 0px 2px 0px;
    background-color: #33c1e3;
    border-radius: 0 0 10px 10px;
  }
  &__button{
    height: 15px;
    width: 134px;
    background-color: #33c1e3;
    border: 2px solid #fff;
    border-radius: 18px;
    font: bold 13px $font-family;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    letter-spacing: .5px;
    transition: .5s;

    &:hover{
      background-color: #fff;
      color: $color4-blue;
      transition: .5s;
    }
  }
  &__image{
    border: 1px solid #bebebe;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin: auto;
    margin-top: -72px;
  }

  &__title-box{
    height: 73px;
    padding-top: 4px;
  }
  &__title{
     width: 50%;
    font-family: $font-open_sans;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    line-height: 1.333;
    padding-top: 0px;
  }

}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
 .userform{
   width: 353px;
   height: 216px;
   background-color: #fff;

   &__body{
     width:100%;
     height: 73%;
   }
   &__footer{
     width: 100%;
     height: 85px;
   }
   &__button{
     height: 15px;
     width: 133px;
     background-color: #33c1e3;
     border: 2px solid #fff;
     border-radius: 20px;
     font: 14px "Fira Sans",sans-serif;
     color: #fff;
     font-weight: 500;
     letter-spacing: 0.1px;
     cursor: pointer;
     text-align: center;
     padding: 8px 0px 12px;
     text-decoration: none;
     letter-spacing: -0.1px;
     -webkit-transition: .5s;
     -o-transition: .5s;
     transition: .5s;

     &:hover{
       background-color: #fff;
       color: $color4-blue;
       transition: 0.5s;
     }
   }
   &__image{
     border: 1.5px solid #bebebe;
     height: 104px;
     width: 104px;
     margin: auto;
     margin-top: -53px;
   }

   &__title-box{
     height: 75px;
     padding-top: 3px;
   }
   &__title{
     color: $color2-d_gray;
     font-size:22px;
     font-family: 'Open Sans', sans-serif;
     font-weight: 600;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 27px;
   }

 }


}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */

 .userform{
   width: 301px;
   height: 216px;
   background-color: #fff;


   &__body{
     width:100%;
     height: 73%;
   }
   &__footer{
     width: 100%;
     height: 85px;
   }
   &__button{
     height: 17px;
     width: 133px;
     background-color: $color4-blue;
     border: 2px solid #fff;
     border-radius: 25px 25px 25px 25px;
     font: bold 15px $font-family;
     color: #fff;
     font-weight: 400;
     padding: 8px 0 11px;
     letter-spacing: -0.5px;
     cursor: pointer;
     transition: 0.5s;

     &:hover{
       background-color: #fff;
       color: $color4-blue;
       transition: 0.5s;
     }
   }
   &__image{
     border: 1.5px solid #bebebe;
     height: 104px;
     width: 104px;
     margin: auto;
     margin-top: -53px;
   }

   &__title-box{
     height: 75px;
     padding-top: 3px;
   }
   &__title{
     color: $color2-d_gray;
     font-size:22px;
     font-family: 'Open Sans', sans-serif;
     font-weight: 600;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 27px;
   }


 }



}
