.header__navigation{
    padding: 17px 0 25px 0;
    width: 100%;
    //border: 1px solid #fff;

  &-list{
    @include flexbox(flex,row,stretch,space-between,nowrap);
    width: 100%;
    padding: 0 0 0 130px;

    &::before{
      position: absolute;
      content: url(../img/svg/insayur-logo.svg);
      top: 84px;
      left: 182px;
    }
  }
  &-item{
    display: block;
    padding: 0 15px;
  }

  &-a{
    text-decoration: none;
    color: #fff;
  }
}
