.header__navigation{
    padding: 4px 0 25px 0;
    width: 100%;


    &--down{
      background-color: rgba(51, 51, 51, .6);
    }


  &-list{
    @include flexbox(flex,row,stretch,space-between,nowrap);
    width: 100%;
    padding: 0 63px 0 162px;
    position: relative;

    &::before{
      position: absolute;
      content: url(../img/SVG/insayur-logo.svg);
      width: 119px;
      height: 47px;
      top: 7px;
      left: 17px;
    }
  }
  &-item{
    display: block;
    padding: 0 3px;
    color: #fff;
    transition: $animation-time;

    &:hover{
      color: #4cb050;
      transition: $animation-time;
    }
  }

  &-a{
    text-decoration: none;
    color: inherit;
    font-size: 13.5px;
    letter-spacing: 1.2px;
  }
}
