.career{
  flex-grow: 1;
  padding: 75px 0 20px;
  flex-basis: 450px;
  //background-color: #ccf;


  &__flexbox{
    @include flexbox(flex,column,flex-start,center,nowrap);
  }
}
.career-item{
    color:$color1-m_gray;
    font: $font-size $font-family;
    margin-bottom: 0px;
    padding: 6px 0px;
    border: 1px solid #000;


    &:before{
      content: '\f111';
      height: 0px;
      width: 0px;
      font-size: 11px;
      font-family: FontAwesome;
      color:#33bfe2;
      position: relative;
      top: 0px;
      left: 52px;
      line-height: 5px;
    /*  letter-spacing: 1px;*/
      border: 4px solid rgba(0,0,0,0);
      z-index: 4;
      border-radius: 50%;
      padding: 3px 10px 7px 0;
    }

    &--flexbox{
      @include flexbox(flex,row,center,space-around,nowrap);
    }

    &__year{
      padding: 10px 0px;
      margin-right:  12px;
      font-size: 14px;
      width: 30px;

    }

    &__line{
          margin-right: 15px;
          padding: 0;
          width: 1px;
          height: 110px;
          background-color: #dddddd;

          &-top{
            margin-right: 15px;
            align-self: flex-end;
            width: 1px;
            height: 58px;
            background-color: #dddddd;
            margin-bottom: 0px;
          }

          &-bottom{
            margin-right: 15px;
            align-self: flex-start;
            width: 1px;
            height: 58px;
            background-color: #dddddd;
            margin-top: 0px;
          }
    }

    &__H{
        margin: 5px;
        font: 21px 'Fira Sans light';
        font-weight: 600;
    }
    &__p{
        margin: 5px;
        font-weight: 600;
        font: 18px 'Fira Sans light';
    }
    &__content{
        border-radius: 9px;
        background-color: #fff;
        flex-grow: 1;
        padding: 9px 15px;
        margin: 0 5px;
        cursor: pointer;
        box-shadow:
        1px 1px 1px rgba(121, 121, 121, .1),
        -1px 1px 1px rgba(221, 221, 221, .1),
        1px -1px 1px rgba(221, 221, 221, .1),
        -1px -1px 1px rgba(121, 121, 121, .1) ;

    }

    &:hover .career-item__year{
        color: $color4-blue;
        font-weight: bolder;
          transition: 0.5s;
    }

    &:hover .career-item__content{
      color: #fff;
      background-color: $color4-blue;
      transition: 0.5s;
    }

    &:hover::before{
      /*text-shadow:
      2px 2px 6px rgba(51, 193, 227, .8),
      -2px 2px 6px rgba(51, 193, 227, .8),
      2px -2px 6px rgba(51, 193, 227, .8),
      -2px -2px 6px rgba(51, 193, 227, .8);
*/

      color: $color4-blue;
      border: 4px solid rgba(51,193,227,0.4);
      transition: 0.5s;
      font-size: 11px;
      }


}
