.career{
  flex-grow: 1;
  padding: 70px 0 20px;
  flex-basis: 450px;
  position: relative;
  z-index: 1;
  //background-color: #ccf;


  &__flexbox{
    @include flexbox(flex,column,flex-start,center,nowrap);
  }

    &__divider{
      position: absolute;
      background-color: #ccc;
      z-index: 2;
      top: 127px;
      left: 63px;
      width: 1.2px;
      height: 60%;


    }

    &-item{
    color:$color1-m_gray;
    font: $font-size $font-family;
    margin-bottom: 8px;
    margin-right: -3px;
    padding: 6px 0px;
    transition: 0.5s;
    z-index: 3;
    //border: 1px solid #000;


    &:before{
      content: '\f111';
      height: 0px;
      width: 0px;
      font-size: 12px;
      font-family: FontAwesome;
      color:#33bfe2;
      position: relative;
      top: 0px;
      left: 54px;
      line-height: 5px;
    /*  letter-spacing: 1px;*/
      border: 4px solid rgba(246,246,246,1);
      z-index: 4;
      border-radius: 50%;
      padding: 3px 10px 7px 0;
      transition: 0.5s;
    }

    &--flexbox{
      @include flexbox(flex,row,center,space-around,nowrap);
    }

    &__year{
      padding: 10px 0;
      margin: 0 11px 0 -13px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -.4px;
      width: 44px;
      height: 100%;
      text-align: right;
      transition: 0.5s;
      //background-color: #ccc;
    }



    &__H{
          margin: 6px 5px 2px 6px;
          font: 22px "Fira Sans",sans-serif;
          font-weight: 400;
          letter-spacing: -0.6px;

          &::before{
            content: '\f10d';
            height: 0px;
            width: 0px;
            font-size: 7px;
            font-family: FontAwesome;
            color:inherit;
            position: relative;
            top: -12px;
            left: 0px;
            letter-spacing: -4px;
          }
          &::after{
            content: '\f10e';
            height: 0px;
            width: 0px;
            font-size: 7px;
            font-family: FontAwesome;
            color:inherit;
            position: relative;
            top: -11px;
            left: -4px;
            letter-spacing: 0px;
          }


    }
    &__p{
        margin: 2px 5px 4px 6px;
        font-weight: 300;
        //font: 18px $font-family;
        letter-spacing: 0px;
    }
    &__content{
        border-radius: 10px;
        background-color: #fff;
        flex-grow: 1;
        padding: 8px 15px 12px;
        margin: 0 2px 0 24px;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    }

    &:hover .career-item__year{
        color: $color4-blue;
        margin: 0 12px 0 -16px;
        font-weight: bolder;
        font-size: 18px;
        transition: 0.5s;
        letter-spacing: 0.2px;
    }

    &:hover .career-item__content{
      color: #fff;
      background-color: $color4-blue;
      transition: 0.5s;
    }


    &:hover::before{
      color: $color4-blue;
      border: 5px solid rgba(51,193,227,0.4);
      transition: 0.5s;
      font-size: 11px;
      }


}
}
@media screen and (max-width: 1200px) {
 /* HD Monitor (стационарный компьютер) */
}

@media screen and (max-width: 992px) {
 /* Notebook (ноутбук) */
}

@media screen and (max-width: 768px) {
 /* Tablet (планшет) */
}

@media screen and (max-width: 520px) {
 /* Smapthone (мобильный телефон) */
 .career{
   flex-grow: 1;
   padding: 14px 0 20px;
   flex-basis: 450px;
   position: relative;
   z-index: 1;

   &__divider{
    display: none;


   }

   &-item{
   color:$color1-m_gray;
   font: $font-size $font-family;
   margin: 0 3px 11px 1px;
   padding: 3px 0;
   transition: 0.5s;
   z-index: 3;
   //border: 1px solid #000;


   &:before{
    display: none;
   }

   &--flexbox{
     @include flexbox(flex,row,center,space-around,nowrap);
   }

   &__year{
    display: none;
   }

   &__H{
          margin: 7px 5px 4px 6px;
          font: 18px "Fira Sans",sans-serif;
          font-weight: 500;
          letter-spacing: -0.2px;

         &::before{
           content: '\f10d';
           height: 0px;
           width: 0px;
           font-size: 7px;
           font-family: FontAwesome;
           color:inherit;
           position: relative;
           top: -9px;
           left: 0px;
           letter-spacing: -4px;
         }
         &::after{
           content: '\f10e';
           height: 0px;
           width: 0px;
           font-size: 7px;
           font-family: FontAwesome;
           color:inherit;
           position: relative;
           top: -8px;
           left: -4px;
           letter-spacing: 0px;
         }


   }
   &__p{
       margin: 7px 0px 4px 5px;
       font-weight: 300;
       font: 16px $font-family;
       letter-spacing: -0.1px;

   }
   &__content{
       border-radius: 10px;
       background-color: #fff;
       flex-grow: 1;
       padding: 8px 15px 12px;
       margin: 2px 2px;
       cursor: pointer;
       transition: 0.5s;
       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

   }


 }

}

}
