.career{
  flex-grow: 1;
  padding: 70px 0 20px;
  flex-basis: 450px;
  position: relative;
  z-index: 1;
  //background-color: #ccf;


  &__flexbox{
    @include flexbox(flex,column,flex-start,center,nowrap);
  }

    &__divider{
      position: absolute;
      background-color: #ccc;
      z-index: 2;
      top: 127px;
      left: 62px;
      width: 1.5px;
      height: 64%;


    }

    &-item{
    color:$color1-m_gray;
    font: $font-size $font-family;
    margin-bottom: 10px;
    margin-right: -3px;
    padding: 6px 0px;
    transition: 0.5s;
    z-index: 3;
    //border: 1px solid #000;


    &:before{
      content: '\f111';
      height: 0px;
      width: 0px;
      font-size: 11px;
      font-family: FontAwesome;
      color:#33bfe2;
      position: relative;
      top: 0px;
      left: 54px;
      line-height: 5px;
    /*  letter-spacing: 1px;*/
      border: 4px solid rgba(246,246,246,1);
      z-index: 4;
      border-radius: 50%;
      padding: 3px 10px 7px 0;
      transition: 0.5s;
    }

    &--flexbox{
      @include flexbox(flex,row,center,space-around,nowrap);
    }

    &__year{
      padding: 10px 0;
      margin: 2px 11px 0 -14px;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -.4px;
      width: 44px;
      height: 100%;
      text-align: right;
      transition: 0.5s;
      //background-color: #ccc;
    }



    &__H{
        margin: 6px 5px 4px 5px;
        font: 21px $font-family;
        font-weight: 400;
        //letter-spacing: 0.5px;
    }
    &__p{
        margin: 4px 5px 5px 5px;
        font-weight: 300;
        font: 18px $font-family;
        letter-spacing: -.1px;
    }
    &__content{
        border-radius: 9px;
        background-color: #fff;
        flex-grow: 1;
        padding: 9px 15px;
        margin: 0 2px 0 24px;
        cursor: pointer;
        transition: 0.5s;
        box-shadow:
        1px 1px 1px rgba(121, 121, 121, .1),
        -1px 1px 1px rgba(221, 221, 221, .1),
        1px -1px 1px rgba(221, 221, 221, .1),
        -1px -1px 1px rgba(121, 121, 121, .1) ;

    }

    &:hover .career-item__year{
        color: $color4-blue;
        font-weight: bolder;
        font-size: 19px;
          transition: 0.5s;
    }

    &:hover .career-item__content{
      color: #fff;
      background-color: $color4-blue;
      transition: 0.5s;
    }


    &:hover::before{
      color: $color4-blue;
      border: 4px solid rgba(51,193,227,0.4);
      transition: 0.5s;
      font-size: 11px;
      }


}
}
