.services{
  padding: 43px 0;
  width: 100%;
  background-color: #f2f2f2;

  &__wrapper{
      width: 1056px;
      margin: 0 auto;
  }
  &__header{
      margin-bottom: 7px;
      font-weight: 300;
      padding-left: 17px;

    &--h{
        color: #008e70;
        font-size: 32px;
        letter-spacing: 2.3px;
        margin: 0;

    }
  }
  &__items-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item{
    background-color: #fff;
    height: 100px;
    width: 320px;
    margin: 16px 16px;
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    padding: 32px 32px;
    box-sizing: border-box;
    position: relative;

    &-status{
      visibility: visible;
      position: absolute;
      top: 35px;
      left: 32px;

    }
    &-status--hover{
      visibility: hidden;
      position: absolute;
      top: 20px;
      left: 32px;
    }


    &-price{
      color: inherit;
      visibility: hidden;
      font-size: 12px;
      display: block;
      margin: 28px 0 0 87px;
    }
    ///////////////////
    &-cure{
      display: block;
      margin: 2px 0 0 89px;
      letter-spacing: 1px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/Treatment.svg);
      top: -14px;
      left: 0px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 89px;
      letter-spacing: 1px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/Treatment-hover.svg);
      top: 1px;
      left: 1px;
    }
    }
    }
    /////////////////////
    &-implant{
      display: block;
      margin: 3px 0 0 89px;
      letter-spacing: 1.1px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/implant.svg);
      top: -9px;
      left: 0px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 89px;
      letter-spacing: 1px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/implant-hover.svg);
      top: 6px;
      left: 0px;
    }
    }

    }
    ///////////////////
    &-protez{
      display: block;
      margin: 2px 0 0 89px;
      letter-spacing: 1.2px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/prothesis.svg);
      top: -9px;
      left: 0px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 88px;
      letter-spacing: 1.2px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/prothesis-hover.svg);
      top: 6px;
      left: 0px;
    }
    }

    }
    ///////////////
    &-orto{
      display: block;
      margin: 2px 0 0 89px;
      letter-spacing: 1.2px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/ortondont.svg);
      top: 1px;
      left: 1px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 89px;
      letter-spacing: 1.2px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/ortondont-hover.svg);
      top: 16px;
      left: 1px;
    }
    }

    }
    /////////
    &-kids{
      display: block;
      margin: 3px 0 0 89px;
      letter-spacing: 0.8px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/kids.svg);
      top: -12px;
      left: 0px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 89px;
      letter-spacing: 0.8px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/kids-hover.svg);
      top: 2px;
      left: 0px;
    }
    }

    }
    /////////
    &-white{
      display: block;
      margin: 3px 0 0 88px;
      letter-spacing: 1px;


    &::before{
      position: absolute;
      content: url(../img/svg/services/whitening.svg);
      top: -9px;
      left: 1px;
    }
    &--hov{
      display: block;
      margin: 17px 0 0 89px;
      letter-spacing: 1px;

      &::before{
      position: absolute;
      content: url(../img/svg/services/whitening-hover.svg);
      top: 6px;
      left: 1px;
    }
    }

    }

  }
}
.services__item:hover .services__item-price{
  visibility: visible;
  transition: 0.5s;
}
.services__item:hover .services__item-status{
  visibility: hidden;
  transition: 0.5s;
}
.services__item:hover .services__item-status--hover{
  visibility: visible;
  transition: 0.5s;
}
.services__item:hover{
  background-color: #008e70;
  color: #fff;
 // transition: 0.3s;
}
